.catalog {
  padding-top: 55px;
}

.catalog__title {
  margin: 0 0 12px 0;
  color: #333;
  font-weight: 400;
  font-size: 28px;
}

.catalog__text {
  display: none;
}

.catalog__accordion {
  margin-bottom: 47px;
}

.catalog-accordion__item {
  overflow: hidden;
}

.catalog-accordion__title {
  position: relative;
  margin: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #cacaca;
  color: #333;
  font-weight: 600;
  font-size: 18px;
  -webkit-transition: border-color .2s linear;
  -o-transition: border-color .2s linear;
  transition: border-color .2s linear;
}

.catalog-accordion__btn {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 0;
  width: 100%;
  height: 100%;
  text-align: left;
  -webkit-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.catalog-accordion-btn__text {
  position: relative;
  z-index: 10;
}

.catalog-accordion-btn__path-1 {
  -webkit-transition: fill .2s linear;
  -o-transition: fill .2s linear;
  transition: fill .2s linear;
}

.catalog-accordion-btn__icon {
  position: relative;
  width: 30px;
  height: 30px;
  -webkit-transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.catalog-accordion-btn__icon::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #9d5cd0;
  border-radius: 100%;
  opacity: 0;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.catalog-accordion-btn__svg {
  width: 100%;
  height: 100%;
}

.catalog-accordion__item.is-active .catalog-accordion-btn__icon {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.catalog-accordion__item.is-active .catalog-accordion-btn__path-1 {
  fill: #d1a9f0;
}

.catalog-accordion__item.is-active .catalog-accordion-btn__icon::after {
  opacity: 1;
}

.catalog-accordion__title:hover .catalog-accordion__btn {
  color: #9d5cd0;
}

.catalog-accordion__item:first-child .catalog-accordion__title {
  border-top: 1px solid #cacaca;
}

.catalog-accordion__item:first-child .catalog-accordion__title:hover {
  border-color: #9d5cd0;
}

.catalog-accordion__title:hover {
  border-color: #9d5cd0;
}

.catalog-accordion__item.is-active .catalog-accordion__btn {
  color: #7943a4;
}

.catalog-accordion__item.is-active .catalog-accordion__title {
  border-color: #7943a4;
}

.catalog-accordion__item:first-child.is-active .catalog-accordion__title {
  border-color: #7943a4;
}

.catalog-accordion__panel {
  visibility: hidden;
}

.catalog-accordion__list {
  padding: 27px 0;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color .2s linear;
  -o-transition: border-color .2s linear;
  transition: border-color .2s linear;
}

.catalog-accordion-list__item {
  line-height: 1;
}

.catalog-accordion-list__item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-accordion__item.is-active .catalog-accordion__panel {
  visibility: visible;
}

.catalog-accordion__artist {
  position: relative;
  color: #333;
  font-size: 16px;
}

.catalog-accordion-artist__text {
  position: relative;
  z-index: 5;
}

.catalog-accordion__artist::after {
  content: "";
  position: absolute;
  right: 51%;
  bottom: 0;
  left: 51%;
  border-bottom: 1px solid #9d5cd0;
  opacity: 0;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-property: left, right, opacity;
  -o-transition-property: left, right, opacity;
  transition-property: left, right, opacity;
}

.catalog-accordion__artist:hover::after {
  right: 0;
  left: 0;
  opacity: 1;
}

.catalog-accordion-empty__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color .2s linear;
  -o-transition: border-color .2s linear;
  transition: border-color .2s linear;
}

.catalog-accordion__item.is-active .catalog-accordion__list {
  border-color: #cacaca;
}

.catalog-accordion__item.is-active .catalog-accordion-empty__wrapper {
  border-color: #cacaca;
}

.catalog-accordion-empty__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-shrink: 0;
  margin-right: 30px;
  width: 90px;
  height: 118px;
  background-color: #999;
  -ms-flex-negative: 0;
}

.catalog-accordion-empty__img::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  display: block;
  border: 6px solid #fff;
}

.catalog-accordion-empty__subtitle {
  color: #333;
  font-weight: 600;
  font-size: 18px;
}

.catalog-accordion-empty__text {
  margin-bottom: 7px;
  color: #333;
  font-size: 16px;
}

.catalog-accordion-empty__link {
  position: relative;
  color: #9d5cd0;
  font-weight: 600;
  font-size: 16px;
  -webkit-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
}

.catalog-accordion-empty-link__text {
  position: relative;
  z-index: 5;
}

.catalog-accordion-empty__link::after {
  content: "";
  position: absolute;
  right: 51%;
  bottom: 0;
  left: 51%;
  border-bottom: 1px solid #9d5cd0;
  opacity: 0;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-property: left, right, opacity;
  -o-transition-property: left, right, opacity;
  transition-property: left, right, opacity;
}

.catalog-accordion-empty__link:hover::after {
  right: 0;
  left: 0;
  opacity: 1;
}

.catalog__artist {
  display: none;
}

.catalog__artist.is-active {
  display: block;
}

.catalog-artist__img {
  display: block;
  margin-bottom: 20px;
  width: 290px;
  background-color: #cacaca;
}

.catalog-artist__title {
  margin-bottom: 10px;
  color: #333;
  font-weight: 600;
  font-size: 24px;
}

.catalog-artist__date {
  color: #999;
  font-size: 12px;
}

.catalog-artist__text {
  margin-top: 12px;
  margin-bottom: 0;
  color: #333;
  font-size: 16px;
  line-height: 2em;
}

.catalog-artist-empty__img {
  position: relative;
  margin-bottom: 20px;
  width: 290px;
  height: 180px;
  background-color: #ececec;
}

.catalog-artist-empty__img::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 30%;
  width: 107px;
  height: 107px;
  background-image: url("/img/catalog/artist-empty.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.catalog-artist-empty-img__text {
  position: absolute;
  top: 75%;
  left: 25%;
  color: #666;
  font-weight: 600;
  font-size: 18px;
}

.catalog-artist-empty__title {
  margin-bottom: 15px;
  color: #333;
  font-weight: 600;
  font-size: 24px;
}

.catalog-artist-empty__text {
  margin-bottom: 10px;
  color: #333;
  font-size: 16px;
}

.catalog-artist-empty__link {
  position: relative;
  color: #9d5cd0;
  font-weight: 600;
  font-size: 16px;
}

.catalog-artist-empty__link::after {
  content: "";
  position: absolute;
  right: 51%;
  bottom: 0;
  left: 51%;
  border-bottom: 1px solid #9d5cd0;
  opacity: 0;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-property: left, right, opacity;
  -o-transition-property: left, right, opacity;
  transition-property: left, right, opacity;
}

.catalog-artist-empty__link:hover::after {
  right: 0;
  left: 0;
  opacity: 1;
}

@media (min-width: 768px) {
  .catalog {
    padding-top: 85px;
    padding-bottom: 84px;
  }

  .catalog__title {
    margin: 0 0 22px 0;
    font-size: 48px;
  }

  .catalog__text {
    display: block;
    margin-top: 0;
    margin-bottom: 22px;
    color: #333;
    font-size: 16px;
    line-height: 2em;
  }

  .catalog-accordion__title {
    font-size: 24px;
  }

  .catalog-accordion__btn {
    padding: 31px 0;
  }

  .catalog-accordion-btn__icon {
    width: 50px;
    height: 50px;
  }

  .catalog-accordion__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: space-between;
    padding-top: 32px;
    max-height: 350px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-line-pack: justify;
  }

  .catalog-accordion-empty__wrapper {
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }

  .catalog-accordion-empty__img {
    width: 275px;
    height: 189px;
  }

  .catalog-accordion-empty__img::after {
    border-width: 12px;
  }

  .catalog-accordion-empty__subtitle {
    font-size: 24px;
  }

  .catalog-artist__img {
    width: 100%;
  }

  .catalog-artist-empty__img {
    width: 100%;
    height: 419px;
  }

  .catalog-artist-empty__img::before {
    left: 220px;
    width: 236px;
    height: 236px;
  }

  .catalog-artist-empty-img__text {
    left: 250px;
    font-size: 24px;
  }

  .catalog-artist__title {
    margin-bottom: 6px;
  }

  .catalog-artist__text {
    margin-top: 9px;
  }
}

@media (min-width: 1024px) {
  .catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 86px;
    padding-bottom: 43px;
  }

  .catalog__text {
    margin-bottom: 38px;
  }

  .catalog__accordion {
    order: 2;
    width: calc(50% - 25px);
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
  }

  .catalog-accordion__list {
    padding-top: 36px;
    padding-bottom: 18px;
    max-height: 450px;
  }

  .catalog-accordion-list__item:first-child {
    margin-right: 60px;
  }

  .catalog-accordion-list__item:nth-child(12n) {
    margin-right: 60px;
  }

  .catalog__artist {
    order: 1;
    margin-right: 50px;
    width: 47%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
  }

  .catalog-artist__img {
    margin-bottom: 35px;
  }

  .catalog-artist__text {
    margin-top: 18px;
  }

  .catalog-accordion-empty__img {
    width: 189px;
    height: 130px;
  }

  .catalog-accordion-empty__img::after {
    border-width: 8px;
  }

  .catalog-artist-empty__img {
    height: 274px;
  }

  .catalog-artist-empty__img::before {
    left: 145px;
    width: 170px;
    height: 170px;
  }

  .catalog-artist-empty-img__text {
    left: 140px;
  }
}

@media (min-width: 1440px) {
  .catalog {
    padding-bottom: 43px;
  }

  .catalog__title {
    width: 100%;
  }

  .catalog__text {
    width: 83%;
  }

  .catalog-accordion-btn__text {
    background-color: transparent;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
  }

  .catalog-accordion__btn:focus-visible .catalog-accordion-btn__text {
    color: #fff;
    background-color: #9d5cd0;
  }

  .catalog-accordion__btn:focus-visible::before {
    opacity: 1;
  }

  .catalog-accordion__btn:hover .catalog-accordion-btn__path-1 {
    fill: #d1a9f0;
  }

  .catalog-accordion__btn:focus-visible .catalog-accordion-btn__path-1 {
    fill: #d1a9f0;
  }

  .catalog-accordion__list {
    max-height: 435px;
  }

  .catalog-accordion-list__item:first-child {
    margin-right: 100px;
  }

  .catalog-accordion__artist:active::after {
    right: 51%;
    left: 51%;
    opacity: 0;
  }

  .catalog-accordion__artist::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 0;
    bottom: -5px;
    left: 0;
    background-color: #9d5cd0;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
  }

  .catalog-accordion__artist:focus-visible::before {
    opacity: 1;
  }

  .catalog__artist {
    margin-right: auto;
    width: 45%;
  }

  .catalog-accordion-empty__descr {
    width: 47%;
  }

  .catalog-artist-empty__img {
    height: 340px;
  }

  .catalog-artist-empty__img::before {
    top: 15%;
    left: 212px;
    width: 200px;
    height: 200px;
  }

  .catalog-artist-empty-img__text {
    left: 220px;
  }

  .catalog-artist-empty-link__text {
    position: relative;
    z-index: 5;
  }

  .catalog-accordion-empty__link::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 0;
    bottom: -5px;
    left: 0;
    background-color: #9d5cd0;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
  }

  .catalog-accordion-empty__link:focus-visible
  .catalog-accordion-empty-link__text {
    color: #333;
  }

  .catalog-accordion-empty__link:focus-visible::before {
    opacity: 1;
  }

  .catalog-accordion-empty__link:active {
    color: #7943a4;
  }

  .catalog-artist-empty__link::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 0;
    bottom: -5px;
    left: 0;
    background-color: #9d5cd0;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
  }

  .catalog-artist-empty__link:focus-visible
  .catalog-accordion-empty-link__text {
    color: #333;
  }

  .catalog-artist-empty__link:focus-visible::before {
    opacity: 1;
  }

  .catalog-artist-empty__link:active {
    color: #7943a4;
  }
}

@media (min-width: 1920px) {
  .catalog__accordion {
    width: 50%;
  }

  .catalog__text {
    width: 70%;
  }

  .catalog-accordion__list {
    align-content: start;
    max-height: 360px;
    -ms-flex-line-pack: start;
  }

  .catalog-accordion-empty__img {
    width: 275px;
    height: 189px;
  }

  .catalog-accordion-empty__img::after {
    border-width: 12px;
  }

  .catalog-accordion-empty__descr {
    width: 50%;
  }

  .catalog__artist {
    width: 750px;
  }

  .catalog-artist-empty__img {
    height: 470px;
  }

  .catalog-artist-empty__img::before {
    top: 110px;
    left: 255px;
    width: 236px;
    height: 236px;
  }

  .catalog-artist-empty-img__text {
    left: 285px;
  }
}
