.events {
  position: relative;
  padding-top: 53px;
  padding-bottom: 50px;
}

.events__title {
  margin: 0 0 15px 0;
  color: #333;
  font-weight: 400;
  font-size: 28px;
}

.events__swiper {
  position: relative;
  overflow-x: hidden;
  padding-bottom: 32px;
}

.events-swiper__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  min-height: 483px;
  border-top: transparent;
  border-right: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  border-left: 1px solid #cacaca;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.events-swiper__img {
  width: 100%;
  height: 200px;
  background-color: #cacaca;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.events__swiper .slide-1 .events-swiper__img {
  background-image: url("/img/events/events__slide-1.jpg");
}

.events__swiper .slide-2 .events-swiper__img {
  background-image: url("/img/events/events__slide-2.jpg");
}

.events__swiper .slide-3 .events-swiper__img {
  background-image: url("/img/events/events__slide-3.jpg");
}
title .events__swiper .slide-4 .events-swiper__img {
  background-image: url("/img/events/events__slide-4.jpg");
}

.events__swiper .slide-5 .events-swiper__img {
  background-image: url("/img/events/events__slide-5.jpg");
}

.events__swiper-button-prev,
.events__swiper-button-next {
  display: none;
  -webkit-transition: opacity .2s linear, fill .2s linear;
  -o-transition: opacity .2s linear, fill .2s linear;
  transition: opacity .2s linear, fill .2s linear;
}

.events__swiper-button-prev::before,
.events__swiper-button-next::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid #9d5cd0;
  border-radius: 100%;
  opacity: 0;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.events__swiper-button-prev:active::before,
.events__swiper-button-next:active::before {
  opacity: 1;
}

.events__swiper-button-prev:active .swiper-button__path-1,
.events__swiper-button-next:active .swiper-button__path-1 {
  fill: #d1a9f0;
}

.events-swiper__img-descr,
.events-swiper__date {
  display: inline-block;
  width: 100%;
  color: #999;
  font-size: 12px;
  text-align: right;
}

.events-swiper__title {
  margin-top: 10px;
  margin-right: 23px;
  margin-bottom: 10px;
  color: #333;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4em;
}

.events-swiper__text {
  margin-top: 0;
  margin-right: 23px;
  color: #333;
  font-size: 16px;
  line-height: 2em;
}

.events-swiper__link {
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 50px;
  color: #9d5cd0;
  font-size: 16px;
  -webkit-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
}

.events-swiper-link__text {
  border-bottom: 1px solid #9d5cd0;
  -webkit-transition: border-color .2s linear;
  -o-transition: border-color .2s linear;
  transition: border-color .2s linear;
}

.events-swiper__link:hover .events-swiper-link__text {
  border-color: #7943a4;
}

.events-swiper__link:hover {
  color: #7943a4;
}

.events-swiper__link:active .events-swiper-link__text {
  border-color: #333;
}

.events-swiper__link:active {
  color: #333;
}

.events__swiper .swiper-pagination-bullet-active {
  background: #666;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}

.swiper-pagination-horizontal.swiper-pagination-bullets
.swiper-pagination-bullet {
  margin: 0 8px;
}

.events__swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

@media (min-width: 768px) {
  .events {
    padding-top: 0;
    padding-bottom: 85px;
  }

  .events__title {
    margin-bottom: 20px;
    font-size: 48px;
  }

  .events__swiper {
    padding-bottom: 42px;
  }

  .events-swiper__inner {
    padding: 17px 20px 0 34px;
  }

  .events-swiper__title {
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
  }

  .events-swiper__text {
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  .events__swiper {
    padding-bottom: 43px;
  }

  .events-swiper__inner {
    padding: 17px 34px 0 34px;
  }

  .events-swiper__title {
    margin-right: 0;
  }

  .events-swiper__text {
    margin-right: 0;
  }
}

@media (min-width: 1440px) {
  .events {
    padding-bottom: 70px;
  }

  .events__swiper {
    padding-bottom: 15px;
  }

  .events__swiper-button-prev,
  .events__swiper-button-next {
    top: 49%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
  }

  .events__swiper-button-prev::after,
  .events__swiper-button-next::after {
    display: none;
  }

  .events__swiper-button-prev {
    left: 77px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .events__swiper-button-next {
    right: 77px;
  }

  .events__swiper-button-next.swiper-button-disabled,
  .events__swiper-button-prev.swiper-button-disabled {
    opacity: 0;
  }

  .events__swiper-button-prev:hover .swiper-button__path-1,
  .events__swiper-button-next:hover .swiper-button__path-1 {
    fill: #d1a9f0;
  }

  .events__swiper-button-prev:focus-visible::before,
  .events__swiper-button-next:focus-visible::before {
    opacity: 1;
  }

  .events-swiper__img-descr,
  .events-swiper__date {
    text-align: left;
  }

  .events-swiper__title {
    margin-top: 15px;
  }

  .events-swiper__link {
    position: relative;
  }

  .events-swiper-link__text {
    position: relative;
    z-index: 5;
  }

  .events-swiper__link::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 0;
    bottom: -5px;
    left: 0;
    background-color: #9d5cd0;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
  }

  .events-swiper__link:focus-visible::before {
    opacity: 1;
  }

  .events-swiper__link:focus-visible {
    color: #fff;
  }

  .events-swiper__link:focus-visible .events-swiper-link__text {
    border-color: #fff;
  }

  .events__swiper .swiper-pagination {
    display: none;
  }
}

@media (min-width: 1920px) {
  .events-swiper__img {
    height: 300px;
  }

  .events-swiper__inner {
    padding: 17px 40px 0 48px;
    min-height: 400px;
  }

  .events-swiper__title {
    margin-top: 12px;
    margin-bottom: 10px;
  }

  .events-swiper__link {
    margin-bottom: 45px;
  }

  .events__swiper-button-prev {
    left: 135px;
  }

  .events__swiper-button-next {
    right: 135px;
  }
}
