.footer {
  background-color: #000;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  align-items: center;
  padding: 20px 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.footer-list__item {
  width: 50px;
  height: 50px;
}

.footer-list__item:not(:last-child) {
  margin-right: 20px;
}

.footer-list-link__path {
  -webkit-transition: fill .2s linear;
  -o-transition: fill .2s linear;
  transition: fill .2s linear;
}

.footer-list__link:active .footer-list-link__path {
  fill: #9d5cd0;
}

.footer-logo__img {
  display: block;
  width: 97px;
}

@media (min-width: 768px) {
  .footer .container {
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  }

  .footer-logo__img {
    width: 173px;
  }

  .footer__list {
    margin-bottom: 0;
  }

  .footer-list__item {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1440px) {
  .footer .container {
    padding: 45px 100px;
  }

  .footer-list__item {
    width: 45px;
    height: 45px;
  }

  .footer-list__link:hover .footer-list-link__path {
    fill: #fff;
  }

  .footer-list__link:focus-visible .footer-list-link__path {
    fill: #fff;
  }
}

@media (min-width: 1920px) {
  .footer .container {
    padding: 45px 160px;
  }
}
