.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("/img/gallery/bg-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery__title {
  margin: 0 0 24px 0;
  width: 100%;
  font-weight: 400;
  font-size: 28px;
  word-wrap: break-word;
}

.gallery__select {
  margin-bottom: 36px;
}

.gallery-select__label {
  display: block;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
}

.gallery__select .choices,
.gallery__select .choices__list--dropdown .choices__item {
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.gallery__select .choices .choices__list--dropdown .choices__item.is-selected {
  display: none;
}

.gallery__select .choices__inner {
  padding-top: 4.5px;
  padding-left: 1.5px;
  min-height: 40px;
  background-color: transparent;
}

.gallery__select .choices[data-type*="select-one"] .choices__inner {
  border: 1px solid #fff;
  border-radius: 6px;
}

.gallery__select .choices[data-type*="select-one"]::after {
  top: 47%;
  right: 14.5px;
  width: 8px;
  height: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent transparent #fff #fff;
  -webkit-transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.gallery__select .choices__list--dropdown,
.choices__list[aria-expanded] {
  z-index: 10;
  border: 1px solid #999;
  border-radius: 6px;
  background-color: transparent;
}

.gallery__select
.choices__list--dropdown
.choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: transparent;
}

.gallery__select .choices__list--single .choices__item {
  font-size: 16px;
}

.gallery__select .choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  color: #999;
  font-size: 16px;
}

.gallery__select .choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid #999;
}

.gallery__select .choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
  background-color: #000;
}

.gallery__select .choices[data-type*="select-one"].is-open::after {
  margin: 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.gallery__checkbox-list {
  margin-bottom: 36px;
}

.gallery-checkbox-list__label {
  position: relative;
  padding-left: 24px;
  font-weight: 400;
  font-size: 16px;
  -webkit-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
}

.gallery-checkbox-list__item:not(:last-child) {
  margin-bottom: 14px;
}

.gallery-checkbox-list__label::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: border-color .2s linear;
  -o-transition: border-color .2s linear;
  transition: border-color .2s linear;
}

.gallery-checkbox-list__input:checked + .gallery-checkbox-list__label::before {
  border-color: #c283f3;
  background-image: url("/img/gallery/checkbox.svg");
}

.gallery-checkbox-list__label:active {
  color: #c283f3;
}

.gallery__swiper {
  position: relative;
  overflow: hidden;
  padding-bottom: 51px;
  width: 100%;
  height: 417px;
}

.gallery__swiper .swiper-pagination-fraction {
  bottom: 5px;
  font-size: 16px;
}

.gallery__swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery__swiper .swiper-slide::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 10;
  background-color: rgba(0, 0, 0, .5);
  background-image: url("/img/gallery/loupe.svg");
  background-position: center;
  background-size: 81px auto;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.gallery__swiper .swiper-slide::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 131, 243, .4);
  opacity: 0;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.gallery__swiper .swiper-slide:active::after,
.gallery__swiper .swiper-slide:active::before {
  opacity: 1;
}

.gallery__swiper .swiper-slide.slide-1 {
  background-image: url("/img/gallery/320px/slide-1_320px.jpg");
}

.gallery__swiper .swiper-slide.slide-2 {
  background-image: url("/img/gallery/320px/slide-2_320px.jpg");
}

.gallery__swiper .swiper-slide.slide-3 {
  background-image: url("/img/gallery/320px/slide-3_320px.jpg");
}

.gallery__swiper .swiper-slide.slide-4 {
  background-image: url("/img/gallery/320px/slide-4_320px.jpg");
}

.gallery__swiper .swiper-slide.slide-5 {
  background-image: url("/img/gallery/320px/slide-5_320px.jpg");
}

.gallery__swiper .swiper-slide.slide-6 {
  background-image: url("/img/gallery/320px/slide-6_320px.jpg");
}

.gallery__swiper .swiper-button-next,
.gallery__swiper .swiper-button-prev {
  top: 98%;
  width: 30px;
  height: 30px;
  -webkit-transition: opacity .2s linear, stroke .2s linear;
  -o-transition: opacity .2s linear, stroke .2s linear;
  transition: opacity .2s linear, stroke .2s linear;
}

.gallery__swiper .swiper-button-next {
  right: 80px;
}

.gallery__swiper .swiper-button-prev {
  left: 80px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.gallery__swiper-button-next.swiper-button-disabled,
.gallery__swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.swiper-button-next.swiper-button-disabled .swiper-button__path-1,
.swiper-button-prev.swiper-button-disabled .swiper-button__path-1 {
  fill: #ececec;
}

.swiper-button-next.swiper-button-disabled .swiper-button__path-2,
.swiper-button-prev.swiper-button-disabled .swiper-button__path-2 {
  stroke: #cacaca;
}

.gallery__swiper .swiper-button-next::after,
.gallery__swiper .swiper-button-prev::after {
  display: none;
}

.gallery__swiper .swiper-button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #000;
  border-radius: 100%;
  opacity: 0;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.swiper-button__path-1 {
  -webkit-transition: fill .2s linear;
  -o-transition: fill .2s linear;
  transition: fill .2s linear;
}

.gallery__swiper .swiper-button-next:active .swiper-button__path-1,
.gallery__swiper .swiper-button-prev:active .swiper-button__path-1 {
  fill: #7943a4;
}

.gallery__swiper .swiper-button:active::before {
  opacity: 1;
}

.gallery__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  border: none;
  visibility: hidden;
}

.gallery__modal.is-open {
  visibility: visible;
}

.gallery__modal::-webkit-backdrop {
  background-color: rgba(0, 0, 0, .5);
}

.gallery__modal::backdrop {
  background-color: rgba(0, 0, 0, .5);
}

.gallery-modal__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.gallery-modal__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 16px;
  height: 16px;
}

.gallery-modal-btn__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #000;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}

.gallery-modal__btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #000;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.gallery-modal__btn:active .gallery-modal-btn__icon,
.gallery-modal__btn:active::before {
  background-color: #7943a4;
}

.gallery-modal__img {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 15px;
  width: 100%;
  height: 200px;
}

.gallery-modal__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 80px;
  padding: 0 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.gallery-modal__title {
  order: 1;
  margin-top: 0;
  margin-bottom: 5px;
  color: #333;
  font-weight: 600;
  font-size: 16px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
}

.gallery-modal__subtitle {
  order: 0;
  margin-bottom: 5px;
  color: #333;
  font-weight: 600;
  font-size: 24px;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
}

.gallery-modal__years {
  order: 1;
  margin-bottom: 10px;
  color: #999;
  font-size: 12px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
}

.gallery-modal__text {
  order: 1;
  margin-top: 0;
  color: #333;
  font-size: 16px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
}

.gallery-modal__empty-img {
  margin-bottom: 20px;
  width: 100%;
  height: 180px;
  background-color: #ececec;
  background-image: url("/img/catalog/artist-empty.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.gallery__modal--empty .gallery-modal__title {
  margin-bottom: 10px;
  font-size: 24px;
}

@media (min-width: 768px) {
  .gallery {
    padding-top: 85px;
    padding-bottom: 53px;
  }

  .gallery__title {
    font-size: 48px;
  }

  .gallery__select {
    margin-bottom: 47px;
  }

  .gallery-select__label {
    margin-bottom: 20px;
  }

  .gallery__select .choices {
    max-width: 281px;
  }

  .gallery__select .choices__list--dropdown .choices__item--selectable::after,
  .choices__list[aria-expanded] .choices__item--selectable::after {
    display: none;
  }

  .gallery__checkbox-list {
    margin-bottom: 46px;
  }

  .gallery__swiper {
    padding-top: 60px;
    padding-bottom: 0;
  }

  .gallery__swiper .swiper-pagination-fraction {
    top: 5px;
    bottom: auto;
    left: 48px;
    width: auto;
  }

  .gallery__swiper .swiper-slide {
    height: 330px;
  }

  .gallery__swiper .swiper-slide.slide-1 {
    background-image: url("/img/gallery/768px/slide-1_768px.jpg");
  }

  .gallery__swiper .swiper-slide.slide-2 {
    background-image: url("/img/gallery/768px/slide-2_768px.jpg");
  }

  .gallery__swiper .swiper-slide.slide-3 {
    background-image: url("/img/gallery/768px/slide-3_768px.jpg");
  }

  .gallery__swiper .swiper-slide.slide-4 {
    background-image: url("/img/gallery/768px/slide-4_768px.jpg");
  }

  .gallery__swiper .swiper-slide.slide-5 {
    background-image: url("/img/gallery/768px/slide-5_768px.jpg");
  }

  .gallery__swiper .swiper-slide.slide-6 {
    background-image: url("/img/gallery/768px/slide-6_768px.jpg");
  }

  .gallery__swiper .swiper-button-next,
  .gallery__swiper .swiper-button-prev {
    top: 22px;
  }

  .gallery__swiper .swiper-button-prev {
    left: 0;
  }

  .gallery__swiper .swiper-button-next {
    right: auto;
    left: 100px;
  }

  .gallery-modal__wrapper {
    -ms-flex-direction: row;
    flex-direction: row;
    width: 668px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
  }

  .gallery-modal__img {
    margin-right: 50px;
    margin-bottom: 0;
    width: 300px;
    height: 594px;
  }

  .gallery-modal__inner {
    justify-content: center;
    margin-bottom: 0;
    padding-right: 36px;
    padding-left: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }

  .gallery-modal__years {
    margin-bottom: 45px;
  }

  .gallery-modal__empty-img {
    flex-shrink: 0;
    margin-right: 50px;
    margin-bottom: 0;
    width: 300px;
    height: 594px;
    -ms-flex-negative: 0;
  }
}

@media (min-width: 1024px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 85px;
    padding-bottom: 38px;
  }

  .gallery__top {
    margin-right: 50px;
    max-width: 280px;
  }

  .gallery__select {
    margin-bottom: 112px;
  }

  .gallery__select .choices {
    width: 280px;
  }

  .gallery__swiper {
    margin-top: 20px;
    padding-top: 61px;
  }

  .gallery__swiper .swiper-slide {
    height: 315px;
  }

  .gallery__swiper .swiper-slide.slide-1 {
    background-image: url("/img/gallery/1024px/slide-1_1024px.jpg");
  }

  .gallery__swiper .swiper-slide.slide-2 {
    background-image: url("/img/gallery/1024px/slide-2_1024px.jpg");
  }

  .gallery__swiper .swiper-slide.slide-3 {
    background-image: url("/img/gallery/1024px/slide-3_1024px.jpg");
  }

  .gallery__swiper .swiper-slide.slide-4 {
    background-image: url("/img/gallery/1024px/slide-4_1024px.jpg");
  }

  .gallery__swiper .swiper-slide.slide-5 {
    background-image: url("/img/gallery/1024px/slide-5_1024px.jpg");
  }

  .gallery__swiper .swiper-slide.slide-6 {
    background-image: url("/img/gallery/1024px/slide-6_1024px.jpg");
  }

  .gallery__swiper .swiper-button-next,
  .gallery__swiper .swiper-button-prev {
    top: 22px;
  }

  .gallery__swiper .swiper-button-prev {
    left: 0;
  }

  .gallery__swiper .swiper-button-next {
    right: auto;
    left: 100px;
  }

  .gallery-modal__wrapper {
    width: 594px;
  }

  .gallery-modal__img {
    width: 264px;
  }

  .gallery-modal__inner {
    padding-right: 50px;
  }

  .gallery-modal__empty-img {
    width: 264px;
  }
}

@media (min-width: 1440px) {
  .gallery__select {
    margin-bottom: 155px;
  }

  .gallery__select .choices:hover,
  .gallery__select .choices:focus-visible {
    background-color: rgba(255, 255, 255, .2);
  }

  .gallery__select .choices__list--dropdown .choices__item:hover,
  .gallery__select .choices__list--dropdown .choices__item:focus {
    background-color: rgba(255, 255, 255, .2);
  }

  .gallery-checkbox-list__label:hover::before {
    border-color: #c283f3;
  }

  .gallery-checkbox-list__input:focus-visible
  + .gallery-checkbox-list__label::before {
    border-color: #c283f3;
  }

  .gallery-checkbox-list__input:focus-visible + .gallery-checkbox-list__label {
    color: #c283f3;
  }

  .gallery__swiper .swiper-slide {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 3px solid transparent;
    background-position: top;
    -webkit-transition: border-color .2s linear;
    -o-transition: border-color .2s linear;
    transition: border-color .2s linear;
  }

  .gallery__swiper .swiper-slide:nth-child(n + 3) {
    margin-left: -10px;
  }

  .gallery__swiper .swiper-slide::after {
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
  }

  .gallery__swiper .swiper-slide:focus-visible {
    border-color: #7943a4;
  }

  .gallery__swiper .swiper-slide:hover::after {
    opacity: 1;
  }

  .gallery__swiper .swiper-button-next:hover .swiper-button__path-1,
  .gallery__swiper .swiper-button-prev:hover .swiper-button__path-1 {
    fill: #7943a4;
  }

  .gallery__swiper .swiper-button-next:focus-visible::before,
  .gallery__swiper .swiper-button-prev:focus-visible::before {
    opacity: 1;
  }

  .gallery-modal__btn:hover .gallery-modal-btn__icon,
  .gallery-modal__btn:hover::before {
    background-color: #9d5cd0;
  }

  .gallery-modal__btn:focus-visible .gallery-modal-btn__icon,
  .gallery-modal__btn:focus-visible::before {
    background-color: #9d5cd0;
  }
}

@media (min-width: 1920px) {
  .gallery {
    padding-right: calc((100% - 1600px) / 2);
    padding-left: calc((100% - 1600px) / 2);
    max-width: 100%;
  }

  .gallery__top {
    width: 557px;
    max-width: 600px;
  }

  .gallery__select {
    margin-bottom: 183px;
  }

  .gallery__select .choices {
    width: 400px;
    max-width: 400px;
  }

  .gallery__swiper .swiper-slide::after {
    width: 320px;
    height: 320px;
  }

  .gallery__swiper .swiper-slide {
    height: 350px;
    background-position: center;
  }

  .gallery__swiper .swiper-slide.slide-1 {
    background-image: url("/img/gallery/1920px/slide-1_1920px.jpg");
  }

  .gallery__swiper .swiper-slide.slide-2 {
    background-image: url("/img/gallery/1920px/slide-2_1920px.jpg");
  }

  .gallery__swiper .swiper-slide.slide-3 {
    background-image: url("/img/gallery/1920px/slide-3_1920px.jpg");
  }

  .gallery__swiper .swiper-slide.slide-4 {
    background-image: url("/img/gallery/1920px/slide-4_1920px.jpg");
  }

  .gallery__swiper .swiper-slide.slide-5 {
    background-image: url("/img/gallery/1920px/slide-5_1920px.jpg");
  }

  .gallery__swiper .swiper-slide.slide-6 {
    background-image: url("/img/gallery/1920px/slide-6_1920px.jpg");
  }

  .gallery__swiper .swiper-button-next,
  .gallery__swiper .swiper-button-prev {
    top: 25px;
  }

  .gallery__swiper .swiper-button-prev {
    left: 3px;
  }

  .gallery__swiper .swiper-button-next {
    left: 102px;
  }

  .gallery-modal__wrapper {
    width: 900px;
  }

  .gallery-modal__img {
    width: 400px;
    height: 500px;
  }

  .gallery-modal__empty-img {
    width: 400px;
  }
}
